body {
color: black;
margin: 0;
}

header {
  display: flex; /*flexbox container*/
  align-items: center;
  z-index: 1;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1; /* IMPORTANT to have space between the items*/
  margin-bottom: 10px;
  padding-left: 30px;

}

.logo span {
  color: MediumAquamarine;
  padding-left: 12px;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 10px;
}

span a {
  text-decoration: underline;
  color: black;
}

.container {
display: flex;
width: 1232px;
margin: 0 auto 78px auto;
padding-top: 116px;
font-size: 17px;
font-family: Georgia;

}


.column {
display: flex;
flex-direction: column;
margin-right: 32px;
}

.column.large {
 width: 630px;
}

.column.medium {
 width: 300px;
}

.column.small {
 width: 240px;
}

h1 {
  font-size: 30px;
  font-style: normal;
}

.img.mother{
  font-size: 40px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  margin-top: 0;
  width: 630px;
}

.img.cats{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
}

.img.research {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
}

.img.autum {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');

}

.img {
  height: 300px;
  margin-top: 15px;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img p{
 font-family: Georgia;
 font-size: 17px;
 color: black;
}

.mother.img span {
  text-align: left;
  margin-left: 20px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.small-stories {
display: flex;
flex-direction: column;
width: 300px;
}

.small-column-2 {
  height: 250px;
}
.one {
  margin-right: 30px;
}
.news-bites span {
  display: block;
  flex-wrap: wrap;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}
footer {
  display: flex;
  color: black;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 325px;
}
.footer-all {
  display: inline-block;
}

.footer-title {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;

}
.footer-all nav {
  padding-left: 25px;
  display: inline-block;
}
.footer-all nav span {
  padding: 20px 10px;

.footer-bottom {
  font-family: Verdana;
  font-size: 12px;
}
